body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.custom-navbar {
    background: linear-gradient(to right, #4558b6, #261360) !important;
}

#search-button, #search-history button {
    width: 100%;
}

#search-button {
    background: #6991e3;
}

#current-weather {
    height: 300px;
    padding: 20px;
}

.forecast {
    width: 18%;
    height: 180px; 
}

hr {
    border-top: 1px solid lightgrey;
}
